<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>现金券</title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width; initial-scale=1.4; minimum-scale=1.0; maximum-scale=2.0"/>
<style type="text/css">
	* {margin:0;padding:0;}
	img {border:0 none;vertical-align:top;max-width:100%;}
	.cash2 {position:relative;max-width:591px;}
	.cash2 img {position:relative;z-index:-1;}
	.cash_no {position:absolute;left:66%;top:0;width:26%;display:block;height:7%;padding:0 1%;color:#fff;font-size:90%;line-height:7%;border:0 none;background:none;}
</style>
</head>
<body>
	<div class="cash_box">
		<img src="<%=image_path("cash1.jpg")%>" alt=""/>
		<div class="cash2"><img src="<%=image_path("cash2.jpg")%>" alt=""/>
			<%=text_field_tag "", params[:sn_code], class: "cash_no"%>
		</div>
	</div>
</body>
</html>
