  <MsgType><![CDATA[music]]></MsgType>
  <Music>
    <Title><![CDATA[<%=item.title.to_s%>]]></Title>
    <Description><![CDATA[<%=item.description.to_s%>]]></Description>
    <MusicUrl><![CDATA[<%=item.audio_url_mp3_3g%>]]></MusicUrl>
    <HQMusicUrl><![CDATA[<%=item.audio_url_mp3_wifi%>]]></HQMusicUrl>
  </Music>

