  <MsgType><![CDATA[music]]></MsgType>
  <Music>
    <Title><![CDATA[<%=replying.title.to_s%>]]></Title>
    <Description><![CDATA[<%=replying.description.to_s%>]]></Description>
    <MusicUrl><![CDATA[<%=replying.audio_url_wav_3g%>]]></MusicUrl>
    <HQMusicUrl><![CDATA[<%=replying.audio_url_wav_wifi%>]]></HQMusicUrl>
  </Music>

