  <MsgType><![CDATA[news]]></MsgType>
  <ArticleCount>1</ArticleCount>
  <Articles>
    <item>
      <Title><![CDATA[<%=item.title%>]]></Title> 
      <Description><![CDATA[<%=item.description.to_s.truncate(100)%>]]></Description>
      <PicUrl><![CDATA[<%=item.pic_url%>]]></PicUrl>
      <Url><![CDATA[<%=specified_activity(item)%>]]></Url>
    </item>
  </Articles>

