  <MsgType><![CDATA[news]]></MsgType>
  <ArticleCount>3</ArticleCount>
  <Articles>
    <item>
      <Title><![CDATA[title1]]></Title> 
      <Description><![CDATA[description1]]></Description>
      <PicUrl><![CDATA[http://images.bbtang.com/uploads/image/body/1641/15.jpg]]></PicUrl>
      <Url><![CDATA[http://www.baidu.com]]></Url>
    </item>
    <item>
      <Title><![CDATA[title1]]></Title> 
      <Description><![CDATA[description1]]></Description>
      <PicUrl><![CDATA[http://images.bbtang.com/uploads/image/body/1641/15.jpg]]></PicUrl>
      <Url><![CDATA[http://www.baidu.com]]></Url>
    </item>
    <item>
      <Title><![CDATA[title1]]></Title> 
      <Description><![CDATA[description1]]></Description>
      <PicUrl><![CDATA[http://images.bbtang.com/uploads/image/body/1641/15.jpg]]></PicUrl>
      <Url><![CDATA[http://www.baidu.com]]></Url>
    </item>
  </Articles>
