  <MsgType><![CDATA[news]]></MsgType>
  <ArticleCount>1</ArticleCount>
  <Articles>
    <item>
      <Title><![CDATA[<%=item.title%>]]></Title> 
      <Description><![CDATA[<%=item.description.to_s.truncate(100)%>]]></Description>
      <PicUrl><![CDATA[<%=item.pic_url%>]]></PicUrl>
      <Url><![CDATA[<%=serve_fw_baidu_map_url(item.id, wx_text_content: @request_text_content)%>]]></Url>
    </item>
  </Articles>

