<%=link_to "Export", detail_export_statistics_path(term: params[:term]), class: "btn right"%>

<%= form_tag(detail_statistics_path, method: "get", class: "form-search right") do %>
	<div class="input-append">
		<%=text_field_tag "term", params[:term], {class: "span2 search-query"}%>
		<%=submit_tag "搜索用户消息", {class: "btn btn-primary",name: nil}%>
	</div>
<%end%>

<div style="clear:both;"></div>
