<%= render "shared/statistics_menu" %>

<table class="table table-bordered">
  <tr>
    <th>消息类型</th>
    <th>计数</th>
    <th></th>
  </tr>
  <% @stats.each do |it| %>
    <tr>
      <td><%=it.msg_type%></td>
      <td><%=it.cnt%></td>
      <td>
      </td>
    </tr>
  <% end %>
</table>
