<% content_for :menu do %>
  <ul class="nav nav-list bs-docs-sidenav affix">
    <li><%=link_to raw(" 关键词库管理 "), "#", class: "nav-header"%></li>
    <li><%=link_to raw(" <i class='icon-chevron-right'></i>关键词列表 "), keyword_replies_path, class: ""%></li>
    <li class="active"><%=link_to raw(" <i class='icon-chevron-right'></i>新增关键词回复 "), new_keyword_reply_path, class: ""%></li>
  </ul>
<% end %>
