<% content_for :menu do %>
  <ul class="nav nav-list bs-docs-sidenav">
    <li><%=link_to raw(" 素材管理 "), "#", class: "nav-header"%></li>
    <li class="<%=current_menu_item_state('index')%>"><%=link_to raw(" <i class='icon-chevron-right'></i>图文消息 "), news_index_path, class: ""%></li>
  </ul>
<% end %>
