<div class="news_thumbnail">
  <div class="thumbnail">
    <h6><%=link_to news.title||"标题", "#nogo", id: "preview_news_title"%></h6>
    <div class="cover" id="preview_news_pic">
      <% if news.pic_uuid %>
        <%= image_tag news.pic_url, data: {src: "holder.js/639x359"}, alt: ""%>
      <% else %>
        <p class="default_tip">封面图片</p>
      <% end %>
    </div>
    <% if news.items.empty? %>
      <table class="table table-hover news_items_table">
        <tr>
          <td>
            <p id="preview_news_desc">
              <%=news.description%>
            </p>
          </td>
        </tr>
      </table>
    <% end %>
    <table class="table table-hover news_items_table">
      <% news.items.each do |itt| %>
        <tr>
          <td><%=link_to itt.title, "#nogo", class: "preview_item_title"%></td>
          <td><%#= image_tag itt.pic_url, data: {src: "holder.js/10x10"}, alt: "", class: "mini_img" if itt.pic_url%></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
