<%= render "shared/events_menu" %>


<table class="table table-hover">
  <thead>
    <tr>
      <th>活动类型</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <tr>
				<td>刮刮卡</td>
      </tr>
      <tr>
				<td>代金券</td>
      </tr>
      <tr>
				<td>大转盘</td>
      </tr>
      <tr>
				<td>...</td>
      </tr>
    </tr>
  </tbody>
</table>
