// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news_toolbar a {
	float: right;
	display: none;
	margin-left: 10px;
}

.item_toolbar a {
	display: none;
	margin-left: 10px;
}
.news_items_table {
	margin-bottom: 0px;
	margin-top: 10px;
}

.news_waterfall .thumbnail {
	margin-top: 15px;
}

.news_thumbnail {
  width: 310px;
}

.cover {
  font-size: 0;
  height: 160px;
  //margin: 0 14px 12px;
  overflow: hidden;
  position: relative;
}
.cover .default_tip {
  color: #AAAAAA;
  font-size: 22px;
  line-height: 160px;
}
.cover p {
  display: block;
}
.default_tip {
  background-color: #ECECEC;
  display: block;
  text-align: center;
  text-shadow: 0 1px 0 #FFFFFF;
}

fieldset {
  background-color: #F8F8F8;
  border: 1px solid #B8B8B8;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 14px 22px 20px 20px;
}

.news_form,.item_form label {
  display: inline;
  margin-right: 10px;
}

.news_desc {
  width: 89%
}
