<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>现金券</title>
	<%= favicon_link_tag image_path('favicon.ico')%>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0" />
<style type="text/css">
	* {margin:0;padding:0;}
	img {border:0 none;vertical-align:top;}
	.cash_box {position:relative;width:591px;height:1181px;background:url(<%=image_path "cash.jpg"%>) no-repeat;}
	.cash_no {position:absolute;left:395px;top:688px;width:152px;height:30px;padding:0 5px;color:#fff;font-size:26px;line-height:30px;border:0 none;background:none;}
</style>
</head>
<body>
	<%= yield %>
</body>
</html>
