<!DOCTYPE html>
<html>
<head>
  <title>WeiXin</title>
  <%#= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<%= favicon_link_tag image_path('favicon.ico')%>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
<!DOCTYPE html>
<html>

